.object1 {
    position: absolute;
    top: 106px;
    left: 120px;
}

.object2 {
    position: absolute;
    top: 270px;
    left: 270px;
}

.object3 {
    position: absolute;
    top: 450px;
    left: 250px;
}