button {
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background: #5da3d3;
    flex-shrink: 0;
}

button:hover{
    background: #2a657a;
}

button img{
    width: 20px;
    height: 20px
}

input {
    border-radius: 40px;
    padding: 10px 35px;
    font-size: 18px;
}

label {
    color: #000;
    font-family: Yanone Kaffeesatz;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

p {
    color: #000;
    font-weight: bolder;
    font-family: Yanone Kaffeesatz;
    font-size: 35px;
    font-style: normal;
    line-height: normal;
}

p p1 {
    font-weight: normal;
    font-size: 30px;
}