<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marmelad&family=Ruda:wght@400&family=Yanone+Kaffeesatz:wght@300&display=swap">
    <link rel="stylesheet" href="/static/css/object1page.css">
    <link rel="stylesheet" href="/static/css/cloud.css">
    <link rel="icon" href="/static/img/svg-icon/icon1.svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="object1">
        <div class="logo">
        <img src="/static/img/jpg/logo.png" alt="logo">
        </div>
    </div>

    <div class="object2">
        <div class="hello">
            <h1>Комфортная жизнь <hh1><br>там, где вы захотите</hh1></h1>
        </div>
    </div>

    <div class="object4">
        <h2>Поиск недвижимости по вашим предпочтениям</h2>
    </div>

    <div class="object3">
        <div class="button">
            <a href="/search">Найти</a>
        </div>
    </div>

</body>
</html>
